@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #127275;
  --color-secondary: #E5F2F2;
  --color-cream: #f6f0ea;
  --font-serif: var(--font-dm-serif);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ensure list styles render properly inside FAQ answers */
.faq-content ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* equal to ml-5 */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.faq-content li {
  margin-bottom: 0.25rem;
}